node_modules
dist
.env
.env.local
.env.*.local
supabase/functions/.env
supabase/.temp
supabase/.branches
playwright-report
test-results
.DS_Store
*.log
.vercel
.netlify
demo-video
supabase/.access-token
dist-live
test-results-live

.vercel
test-results-store

.env*
!.env.production
